<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FDND-Squadpage</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/7b7fa7c68b.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/style.css">

<nav>
<div class="topnav" id="myTopnav">
  <i class="fa-solid fa-house"></i><a href="#home" class="active"> Home</a>
  <i class="fa-solid fa-copy"></i><a href="#series"> Series</a>
  <i class="fa-solid fa-clapperboard"></i><a href="#films"> Films</a>
  <i class="fa-solid fa-display"></i><a href="#programmas"> Programma's</a>
  <i class="fa-brands fa-fly"></i><a href="#kids">Kids</a>
  <i class="fa-solid fa-tv"></i><a href="#live"> Live</a>
</div>

<section class="menu-right">
  <a href="#zoeken"><i class="fa-solid fa-magnifying-glass"></i></a>
  <a href="#kijklijst"><i class="fa-solid fa-bookmark"></i> Mijn kijklijst</a>
  <a href="#account"><i class="fa-solid fa-circle-user"></i></i></a>
  <a href="instellingen"><i class="fa-solid fa-gear"></i></a>
</section>
</nav>

<img src="SB-5.jpg" class="headerfoto">
  <div class="header-tekst">
      <h3>Drama | Misdaad</h3>
      <h1>Crimes of <%= squad.name %></h1>    

<section class="filters">
    <button><a href="/?squad=squad-a-2022">Squad A</a><i class="fa-solid fa-circle-chevron-right"></i></i></button>
    <button><a href="/?squad=squad-b-2022">Squad B</a><i class="fa-solid fa-circle-chevron-right"></i></i></button>
    <button><a href="/?squad=squat-c-2022">Squad C</a><i class="fa-solid fa-circle-chevron-right"></i></button>
    <button class="kijklijst"><i class="fa-solid fa-bookmark"></i><a> Kijklijst</a></button>
</section>

  </div>

</head>

<body>
<!-- <div class="cursor" style="transform: translateX(646px) translateY(20px);"></div> -->
