:root{
--pink: rgb(255, 55, 70);
--white:#FFFFFF;
--grey:rgb(85, 85, 85);
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;

  background:#000000;
  /* background-image: radial-gradient(circle at bottom left, rgba(255, 255, 0, 0.9), rgba(255, 255, 0, 0) 70%),
    radial-gradient(circle at top left, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 70%),
    radial-gradient(circle at center right, rgba(255, 0, 255, 0.8), rgba(255, 0, 255, 0) 50%);
  background-size: 200% 200%; */
  animation: movement 30s ease infinite alternate-reverse;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    padding: 2px 1rem;
    border-radius: 1rem;
    min-height: 1rem;
    min-width: 1rem;
    background: rgba(255, 196, 143, 0.5);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    border: 1px solid var(--c-blue);
    z-index: 10;
    transition: transform 0.2s var(--bezier);
    pointer-events: none;
}

nav{
  background-color: #000000;
  opacity: 85%;
  overflow: hidden;
  color: white;
  padding:1.5em;
  font-size: 1.2em;
  align-items: flex-start;
  display: flex;
flex-direction: row;
  margin-right: auto;
}

.topnav {
  align-items: flex-start;
  margin-left: auto;
}

.menu-right{
  align-items: flex-end;
  margin-right: auto;
}

i{
  padding-left:.5em;
}

.headerfoto{
   position: relative;
   z-index: -1;
   margin: -7rem -1rem 0;
   max-width: calc(2rem + 100%);
}

.header-tekst{
   margin-top: -12em;
  padding-left: 3em;
}

h1{
  font-size: 2em;
  color: white;
  text-align: left;
  font-family: 'poppins';
  font-weight: 600;
}

h3{
  font-family: 'poppins';
  font-weight: 200;
  color: white;
}

main section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

article {
  position: relative;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  color: slate;
  text-align: center;

  /* From https://css.glass */
  background: var(--orange);
  border-radius: 0rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  /* border: 1px solid rgba(255, 255, 255, 0.27); */
}

article h2 {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  padding-top: .5em;
  padding-bottom: 1em;
}
article img {
  height: 5rem;
  width: 5rem;
  border-radius:0%;
}
article a {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  /* display: block; */
}
article a:hover {
  background: #fff2;
}
article a span {
  display: none;
}

.filters{
  align-content: center;
}

a{
  text-decoration: none;
  color: white;
  padding:.1em;
}

a:hover{
  color: #000000;
}

button{
  border-radius: 20px;
  border-style: none;
  padding:1em;
  color: var(--white);
  background-color:var(--pink);
  margin-top: 1em;
  margin-right: .5em;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: 'poppins';
  font-weight: 400;
}

button:hover {
  transform: scale(1.1);
}

button.kijklijst{
  border-radius: 20px;
  border-style: none;
  padding:1em;
  color: var(--white);
  background-color:var(--grey);
  margin-top: 1em;
  margin-right: .5em;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: 'poppins';
  font-weight: 400;
}

button.kijklijst:hover{
  transform: scale(1.1);
  background-color: var(--white);
  color: #000000;
  font-family: 'poppins';
  font-weight: 400;
}

/* button.order-by-name{
  background-color:var(--pink);
}

button.order-by-name:hover{
  background-color: var(--yellow);
} */

@media screen and (max-width: 820px){
a{
  display:none;
}

}