:root {
  --pink: rgb(255, 55, 70);
  --white: #ffffff;
  --grey: rgb(85, 85, 85);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;

  background: #000000;
  /* background-image: radial-gradient(circle at bottom left, rgba(255, 255, 0, 0.9), rgba(255, 255, 0, 0) 70%),
    radial-gradient(circle at top left, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 70%),
    radial-gradient(circle at center right, rgba(255, 0, 255, 0.8), rgba(255, 0, 255, 0) 50%);
  background-size: 200% 200%; */
  animation: movement 30s ease infinite alternate-reverse;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2px 1rem;
  border-radius: 1rem;
  min-height: 1rem;
  min-width: 1rem;
  background: rgba(255, 196, 143, 0.5);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border: 1px solid var(--c-blue);
  z-index: 10;
  transition: transform 0.2s var(--bezier);
  pointer-events: none;
}

nav {
  background-color: #000000;
  opacity: 82%;
  /* overflow: hidden; */
  color: white;
  padding: 1.5em;
  font-size: 1em;
  align-items: flex-start;
  display: flex;
  row-gap: 2em;
  /* flex-direction: row; */
  /* margin-right: auto; */
}

.topnav {
  opacity: 80%;
}

.menu-right {
  opacity: 80%;
}

i {
  padding-left: 0.5em;
}

.headerfoto {
  position: relative;
  z-index: -1;
  margin: -7rem -1rem 0;
  width: calc(1rem + 100%);
}

.header-tekst {
  margin-top: -12em;
  padding-left: 6em;
}

h1 {
  font-size: 2em;
  color: white;
  text-align: left;
  font-family: "poppins";
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
  color: white;
  text-align: left;
  font-family: "poppins";
  font-weight: 600;
  margin-left: 2rem;
}

h3 {
  font-family: "poppins";
  font-weight: 200;
  color: white;
  opacity: 70%;
}

main section {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center; */
}

article {
  position: relative;
  width: 10rem;
  height: 15rem;
  padding: 1rem;
  color: slate;
  text-align: center;
  /* From https://css.glass */
}

article h2 {
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

article img {
  height: 10rem;
  width: 10rem;
  background: black;

  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

article img:hover {
  opacity: 0.3;
}

article a {
  width: 10rem;
  height: 10rem;
}

.filters {
  align-content: center;
  margin-bottom: 6em;
}

a {
  text-decoration: none;
  color: white;
  padding: 0.1em;
  font-family: "poppins";
}

button {
  border-radius: 50px;
  border-style: none;
  padding: 1em;
  color: var(--white);
  background-color: var(--pink);
  margin-top: 1em;
  margin-right: 0.5em;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "poppins";
  font-weight: 600;
}

button:hover {
  transform: scale(1.1);
}

button.kijklijst {
  border-radius: 20px;
  border-style: none;
  padding: 1em;
  color: var(--white);
  background-color: var(--grey);
  margin-top: 1em;
  margin-right: 0.5em;
  align-items: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-family: "poppins";
  font-weight: 600;
}

button.kijklijst:hover {
  transform: scale(1.1);
  background-color: var(--white);
  color: #000000;
}

.order-by-name {
  text-decoration: underline;
  background-color: none;
  color: var(--grey);
  font-size: 0.6em;
}

.komedieseries {
  text-align: left;
  /* margin-left: -5.5em; */
  display: grid;
  grid-auto-flow: column;
  /* Breedte van elke kolom: */
  grid-auto-columns: 16%;
  /* Zorgt ervoor dat je niet de hele pagina scrollt */
  overflow-x: auto;
  /* Zorgt dat je alleen dit element kut scrollen */
  overscroll-behavior-inline: contain;
}

.komedieseries-slider {
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 1.5em;
}

footer {
  color: var(--white);
  margin: 2rem 2rem 1rem 1rem;
  text-align: right;
  font-size: 0.8rem;
}

@media screen and (max-width: 820px) {
  a.nav {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .komedieseries {
    grid-auto-columns: 18%;
  }
}

@media screen and (max-width: 1000px) {
  .komedieseries {
    grid-auto-columns: 22%;
  }
}

@media screen and (max-width: 900px) {
  .komedieseries {
    grid-auto-columns: 32%;
  }
}

@media screen and (max-width: 600px) {
  .komedieseries {
    grid-auto-columns: 35%;
  }

  a {
    display: none;
  }

  .filters {
    display: grid;
    grid-auto-flow: column;
    /* Breedte van elke kolom: */
    grid-auto-columns: 50%;
    width: 15em;
  }

  .kijklijst {
    display: none;
  }

  .headerfoto {
    width: 100%;
    height: 70%;
    overflow: auto;
  }
}

.header-tekst {
  padding-left: 2em;
}

@media screen and (max-width: 500px) {
  .komedieseries {
    grid-auto-columns: 78%;
    height: 20em;
  }

  article img {
    height: 15rem;
    width: 15rem;
  }

  .headerfoto {
    width: 100%;
    height: 70%;
    margin: -7rem -1rem 0;
  }
}
